/* Shrink the dash by reducing padding and border radius */
#dashtodockContainer.shrink #dash,
#dashtodockContainer.dashtodock #dash {
    border:1px;
    padding:0px;
}

#dashtodockContainer.shrink.left #dash,
#dashtodockContainer.dashtodock.left #dash {
    border-left: 0px;
    border-radius: 0px 9px 9px 0px;
}


#dashtodockContainer.shrink.right #dash,
#dashtodockContainer.dashtodock.right #dash {
    border-right: 0px;
    border-radius: 9px 0px 0px 9px;
}


#dashtodockContainer.shrink.top #dash,
#dashtodockContainer.dashtodock.top #dash {
    border-top: 0px;
    border-radius: 0px 0px 9px 9px;
}

#dashtodockContainer.shrink.bottom #dash,
#dashtodockContainer.dashtodock.bottom #dash {
    border-bottom: 0px;
    border-radius: 9px 9px 0px 0px;
}

#dashtodockContainer.straight-corner #dash,
#dashtodockContainer.shrink.straight-corner #dash {
    border-radius: 0px;
}

/* Scrollview style */
.bottom #dashtodockDashScrollview,
.top #dashtodockDashScrollview {
    -st-hfade-offset: 24px;
}

.left #dashtodockDashScrollview,
.right #dashtodockDashScrollview {
    -st-vfade-offset: 24px;
}

#dashtodockContainer.running-dots .dash-item-container > StButton,
#dashtodockContainer.dashtodock .dash-item-container > StButton {
    transition-duration: 250;
    background-size: contain;
}

#dashtodockContainer.shrink .dash-item-container > StButton,
#dashtodockContainer.dashtodock .dash-item-container > StButton {
   padding: 1px 2px;
}

/* Dash height extended to the whole available vertical space */
#dashtodockContainer.extended.top #dash,
#dashtodockContainer.extended.right #dash,
#dashtodockContainer.extended.bottom #dash,
#dashtodockContainer.extended.left #dash {
    border-radius: 0;
}

#dashtodockContainer.extended.top #dash,
#dashtodockContainer.extended.bottom #dash {
    border-left:0px;
    border-right:0px;
}

#dashtodockContainer.extended.right #dash,
#dashtodockContainer.extended.left #dash {
    border-top:0px;
    border-bottom:0px;
}

/* Running and focused application style */

#dashtodockContainer.running-dots .app-well-app.running > .overview-icon,
#dashtodockContainer.dashtodock .app-well-app.running > .overview-icon {
	background-image:none;
}


#dashtodockContainer.running-dots .app-well-app.focused  .overview-icon,
#dashtodockContainer.dashtodock .app-well-app.focused  .overview-icon {
    /*background-color: rgba(238, 238, 236, 0.1);*/
}

#dashtodockContainer.dashtodock #dash {
    background: #2e3436;
}

#dashtodockContainer .number-overlay {
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}

#dashtodockPreviewSeparator.popup-separator-menu-item-horizontal {
    width: 1px;
    height: auto;
    border-right-width: 1px;
    margin: 32px 0px;
}

#dashtodockContainer .dashtodockIcon {
  /*margin: 3px;*/
  transition-duration: 200ms;
  background-gradient-direction: radial;
  border-radius: 120px;
  background-gradient-start: rgba(255, 255, 255, 0.2);
  background-gradient-end: rgba(255, 255, 255, 0.0);
}

#dashtodockContainer .dashtodockIcon:hover {
  background: transparent;
}

#dashtodockContainer .dashtodockIcon .overview-icon.whatwhat {
  /*border: 5px solid #fff;*/
  border-radius: 120px;
  /*background: none;*/
}


#dashtodockContainer .app-well-app,
#dashtodockContainer .app-well-app {
  margin-bottom: 0;
  transition-duration: 200ms;
}

#dashtodockContainer .app-well-app:hover .dashtodockIcon,
#dashtodockContainer .app-well-app:focus .dashtodockIcon{
  /*box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);*/
}

.app-well-app:active .overview-icon.whatwhat,
.app-well-app:checked .overview-icon.whatwhat {
  /*background-color: rgba(255, 255, 255, 0.2);*/
}

.app-well-app:hover .overview-icon.whatwhat,
.app-well-app:focus .overview-icon.whatwhat,
.app-well-app:selected .overview-icon.whatwhat {
  /*background-color: rgba(255, 0, 255, 0.8);*/
  /*transition-duration: 0ms;*/
  background-color: transparent;
  border-image: none;
  border-color: transparent;
  background-image: none;
  /*background-gradient-direction: radial;
  background-gradient-start: rgba(255, 255, 255, 0.5);
  background-gradient-end: rgba(255, 255, 255, 0.0);*/
  /*box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);*/
}

.app-well-app .overview-icon.whatwhat {
  /*background-color: rgba(255, 0, 255, 0.8);*/
  /*transition-duration: 0ms;*/
  background-color: transparent;
  border-image: none;
  border-color: transparent;
  background-image: none;
}
